*{
    margin: 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 50px;
    font-size: 30px;
}


h3{
    margin-left: 50px;
}
.imagen {
    float: right;
    object-fit: cover;
    height: 200px;
    width: 150px;
    margin: 50px 100px 20px;
}
.info{
    font-size: 20px;
    font-weight: bold;
    margin :50px 50px;
    text-decoration: underline;
}
.par{
    margin-left: 100px;
    font-size: 16px;
}
.lista{
    margin-top: -10px;
    margin-left: 50px;
}
