*{
    box-sizing: border-box;
}
body{
    margin: 1px 1%;
    padding: 0;
}
header{
    background-color: aqua;
    height: 100px;
    text-align: center;
    padding: 30px;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(209, 187, 187);
    height: 50px;
}
nav a {
    text-decoration: none;
    color: blue;
    letter-spacing: 1px;
}
 nav :hover {
    color: white;
    background-color: blue;
    box-shadow: 2px 2px rgb(40, 40, 44);
    padding: 10px;
    border-radius: 20px 0 20px;
}
.primer-contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
 
    }
.contenedor {
    display: flex;
    flex-flow: row ;
    
}
aside{
    flex: 40%;
    background-color: beige;
    padding: 5px;
    text-align: center;
}
section{
    flex: 60%;
    background-color: grey;
    color: white;
    padding: 5px;
}


.pie-pagina{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    background-color: rgb(199, 199, 174);
    padding: 20px;
}
.pie-pagina div{
    text-decoration: none;
}



/*media para menos de 600px*/

@media screen and (max-width:600px){    
    nav{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(209, 187, 187);
        height: auto;
        padding: 10px;
    }
    .contenedor {
       
        flex-flow: row wrap;
    
    }
    section{
        flex: 100%;
        
    }
   
}